@media only screen and (max-width: $screen-lg-min) {
    .quickcontact {
            .col-md-6 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .gfield {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .gform_fields li {
            list-style: none;
            display: block;
            padding-right: 5px;
            padding-left: 5px;
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }
         .formbutton {
             margin-top: 0px;
         }
    }

    .slider-content h3 {
        font-size: 42px;
        color: white;
        text-align: center;
    }

    .slider-content p:last-child {
        margin-bottom: 0px;
        font-size: 32px;
        line-height: 1;
        font-weight: bold;
        color: white;
        text-align: center;
        margin-top: 0px;
        font-family: "Oswald", sans-serif;
    }

    .sliderbutton {
        line-height: 8px !important;
        padding: 10px 20px !important;
        font-size: 16px !important;
        margin-top: 10px !important;
    }
}

@media only screen and (max-width: $screen-md-min) {
    .home.sticky-header main {
        margin-top: 160px;
    }
    .sticky-header .subpagebackground {
        margin-top: 160px;
    }
    // release no-scroll above mobile viewport (max-width: 1049px)
    body {
        &.no-scroll {
            overflow: auto;
            #openNavOverlay {
                display: none;
            }
        }
    }

    .techcontainer .servicetype {
        border: 3px solid #F2F2F2;
        padding: 0px;
        margin-left: 0px;
    }
    .sliderbutton {
        line-height: 8px!important;
        padding: 5px 12px!important;
        font-size: 12px!important;
        margin-top: 10px!important;
    }

    .dropdown-menu {
        display: block!important;
        position: relative!important;
    }
    .nav-toggle {
        display: block;
        margin-right: 2px;
    }
    .header-nav .nav-toggle {
        display: block;
    }
    .close-nav {
        display: block;
    }

    .main-nav {
        display: none;
    }
    .sticky-header {
        .product-mast {
            // background-position: right 60px;
        }
        header {
            position: fixed;
            display: block;
            width: 100%;
            background-color: white;
            z-index: 99999;
            .header-block .family-owned {
                display: none;
            }
            .header-block .address {
                display: none;
            }
            .header-block .phone {
                margin: 0px 0;
            }
        }
    }
    .subpagebackground .subpageicon {
        max-height: 112px;
        max-width: 360px;
        margin-top: 20px;
    }
    .flex-header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .logo {
            padding: 5px 0;
        }
    }
    .servicecontent {
    overflow: hidden;
        .col-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        }
        .servicetype{
            margin-bottom: 20px;
        }
        .row {
            margin: 0px 0px 0px 0px;
        }
    }
    .fifty-percent-section.white-background {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .fifty-fifty-section-background {
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        margin: 60px 0px;
        max-height: 100%;
        min-height: initial;
    }
    .flex-header .logo {
        padding: 10px 0;
        margin: auto;
    }
    .header-block {
        text-align: center;
        padding-top: 8px;
        margin: auto;
        padding-bottom: 10px;
    }
    .header-nav .nav-toggle {
        display: block;
        padding: 10px 20px;
        margin: auto;
    }
    .get-quote {
        display: none!important;
    }
    #footercopy {
        font-size: 0.8rem;
        text-align: center;
    }
    .slider-content h3 {
        font-size: 32px;
        color: white;
        text-align: center;
    }
    .slider-content p:last-child {
        margin-bottom: 0px;
        font-size: 28px;
        line-height: 1;
        font-weight: bold;
        color: white;
        text-align: center;
        margin-top: 0px;
        font-family: "Oswald", sans-serif;
    }
    .sliderbutton {
        line-height: 8px !important;
        padding: 10px 20px !important;
        font-size: 14px !important;
        margin-top: 10px !important;
    }
    .techfeatures {
        float: left;
        margin-right: 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .techcontent {
        padding: 0px 20px;
    }
}

@media only screen and (max-width: $screen-sm-max) {
    .quickcontact {
            .col-sm-12, .gfield {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .bottomalign {
        vertical-align: bottom;
        position: relative;
        bottom: 0px;
    }
    .servicecontent .iconholder {
        float: none;
        background-color: #F2F2F2;
        padding: 20px 10px;
        height: initial;
        width: 100%;
        text-align: center;
        max-width: 360px;
    }
    .flex-footer .associations {
        padding-right: 0px;
    }
    .flex-footer .associations a {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 10px;
    }
    .subfooter .phone {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        font-family: "Oswald", sans-serif;
        font-size: 20px;
        padding: 20px 0px;
    }
    .slick-home-next,
    .slick-home-prev {
        position: absolute;
        transform: translateY(-50%);
        font-family: "Poppins", serif;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        cursor: pointer;
        font-size: 5rem;
        font-weight: 100;
        border-radius: 0px;
        padding: 0.5rem 0.5rem;
        line-height: 0.7;
        padding-bottom: 0rem;
    }
    .home.sticky-header main {
        margin-top: 210px;
    }
    .sticky-header .subpagebackground {
        margin-top: 210px;
    }
}

@media only screen and (max-width: $screen-xsm-max) {
    .col-sm-12,
    .col-xsm-12,
    .col-md-12,
    .col-lg-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .subpagebackground .subpageicon {
        height: inherit;
        width: 100%;
        margin-top: 20px;
    }
    .techcontainer {
        padding: 30px 0px;
        width: 90%;
    }
    .techfeatures {
        float: left;
        margin-right: 0px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .subpagebackground .subpagetitle {
        font-size: 42px;
        padding: 10px 0px;
    }
    .subpagebackground .subpagetagline {
        font-size: 22px;
    }
}
@media only screen and (max-width: 400px) {
    .techcontainer {
        padding: 30px 0px;
        width: 85%;
    }
}