/** COLORS */

$primaryColor: #0082ca; // blue
$secondaryColor: #00b3e3; // blue2
$darkGray: #58595b;
$mediumGray: #e6e6e6; // footer contact bg
$lightGray: #f2f2f2;

$textColor: $darkGray;
$linkColor: $secondaryColor;

$headingFont: "Oswald", sans-serif;
$sliderfont: "Poppins", serif;
$headingFontAlt: "Times New Roman", serif;
$bodyFont: "Open Sans", sans-serif;

$screen-lg-min: 1200px;
$screen-lg-max: ($screen-lg-min - 1);
$screen-md-min: 992px;
$screen-md-max: ($screen-md-min - 1);
$screen-sm-min: 768px;
$screen-sm-max: ($screen-sm-min - 1);
$screen-xsm-min: 576px;
$screen-xsm-max: ($screen-xsm-min - 1);

/** PARTIALS */

@import "base";
@import "header";
// @import "forms";
@import "navigation";
@import "mobile_nav";
@import "content";
// @import "blog";
@import "sliders";
@import "responsive";
@import "footer";
@import "overrides";
// @import "ie";
